.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #242424;
}

.title {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.form {
  margin: 0 0 2em 0;
  display: flex;
  gap: 0.7em;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.password {
  margin-top: 1.5em;
  color: #b9b9b9;
}
